In [34]:
import streamlit as st
import requests
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

### Extraindo a cotação do Euro e do dolar

In [35]:
import requests

url = "https://awesomeapi-exchange.p.rapidapi.com/json/list/EUR/30"

headers = {
	"X-RapidAPI-Key": "3ec7e94af8msha93851d69707896p10e2d0jsn05ef113b8aa4",
	"X-RapidAPI-Host": "awesomeapi-exchange.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers).json()

In [38]:
df = pd.DataFrame(response)
df = df[['bid', 'timestamp']]
df.loc[df.index, 'timestamp'] = list(map(lambda timestamp: datetime.fromtimestamp(int(timestamp)).strftime('%d-%m-%y'), df['timestamp']))

In [39]:
df

       bid timestamp
0   5.5253  26-01-23
1   5.5396  25-01-23
2    5.595  24-01-23
3   5.6607  23-01-23
4   5.6563  22-01-23
5   5.6526  20-01-23
6   5.6516  20-01-23
7   5.6046  19-01-23
8   5.5991  18-01-23
9   5.5017  17-01-23
10  5.5736  16-01-23
11  5.5128  15-01-23
12   5.519  13-01-23
13  5.5185  13-01-23
14  5.5465  12-01-23
15  5.5542  11-01-23
16  5.5829  10-01-23
17  5.6387  09-01-23
18  5.5682  08-01-23
19  5.5614  06-01-23
20  5.5624  06-01-23
21  5.6286  05-01-23
22  5.7603  04-01-23
23  5.7789  03-01-23
24  5.7253  02-01-23
25  5.6523  01-01-23
26  5.6571  30-12-22
27   5.655  30-12-22
28  5.6349  29-12-22
29  5.5979  28-12-22

In [40]:

st.title("Cotação do Euro em Reais")

# Mostre o gráfico
plt.plot(df["bid"], df["timestamp"])
st.pyplot()

2023-01-26 17:37:38.268 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.
2023-01-26 17:37:38.274 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.
2023-01-26 17:37:38.278 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.
2023-01-26 17:37:38.283 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)